<!doctype html>
<title>Check Sub Text</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Check Sub Text</h1>
  {% block body %}
    <form action="{{ url_for('show_index') }}" method="post" class="show-index">
      <dl>
        <dt>Text For Search:
        <dd><textarea name="txtforsearch" rows="5" cols="40"></textarea>
        <dt>Sub Text:
        <dd><input type="text" size="40" name="subtext">
        <dd><input type="submit" value="Search">
      </dl>
    </form>
  <ul class="entries">
  {% for entry in entries %}
    <li>-> Text for search: {{ entry.text|safe }}
    <li>Sub text: {{ entry.subtext|safe }}
    <li>result: {{ entry.matches|safe }}
    <br />
  {% endfor %}
  </ul>
{% endblock %}
</div>
